.memo-topics-container{
    width: 80%;
    margin: 10px auto;
    display: flex;
}

.memo-box{
    width: 100%;
    text-align: center;
    display: flex;
    background-color: #edf1ed;
}

h3 {
    width: 200px;
    margin: 30px auto;
    text-align: center;
}
.topics-container {
    margin-top: 10px;
    padding-top: 20px;
    margin: 10px;
    width: 100%;
    text-align: center;
    background-color: #edf1ed;
    box-sizing: border-box;
}
.topics-container2 {
    margin-top: 10px;
    padding-top: 20px;
    margin: 10px;
    width: 50%;
    text-align: center;
    background-color: #edf1ed;
    box-sizing: border-box;
}

.main-box {
    border-top: solid rgb(139, 93, 93);
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.time {
    display: flex;
    justify-content: flex-end;
}

.box {
    justify-content: flex-end;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
