.memo-topics-container{
    width: 80%;
    margin: 10px auto;
    display: flex;
}

.memo-box{
    width: 100%;
    text-align: center;
    display: flex;
    background-color: #edf1ed;
}

h3 {
    width: 200px;
    margin: 30px auto;
    text-align: center;
}
.topics-container {
    margin-top: 10px;
    padding-top: 20px;
    margin: 10px;
    width: 100%;
    text-align: center;
    background-color: #edf1ed;
    box-sizing: border-box;
}
.topics-container2 {
    margin-top: 10px;
    padding-top: 20px;
    margin: 10px;
    width: 50%;
    text-align: center;
    background-color: #edf1ed;
    box-sizing: border-box;
}

.main-box {
    border-top: solid rgb(139, 93, 93);
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.main-box2 {
    border-top: solid rgb(139, 93, 93);
    margin: 10px;
    justify-content: space-between;
}
.time {
    display: flex;
    justify-content: flex-end;
}

.box {
    justify-content: flex-end;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.button {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 6pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 4px 13px;   /* 余白       */
    background    : #a2b68e;     /* 背景色     */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 3px 3px 3px #666666;  /* 影の設定 */
    border        : 2px solid #a2b68e;    /* 枠の指定 */
}
.button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #a2b68e;     /* 背景色     */
    background    : #000000;     /* 文字色     */
}
.logo-image{
    width: 5%;
}